.header {
	position: relative;
	min-height: 335px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #ffffff;
}

.headerImg {
	width: 100%;
	height: 250px;
}

.socials img {
	width: 45px;
	height: 45px;
}

.avatar .fileUpload {
	opacity: 0;
}
.avatar:hover .fileUpload {
	opacity: 1;
}
.profileImg {
	position: absolute;
	left: 50%;
	bottom: 20%;
	transform: translateX(-50%);
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: #cccccc;
}

.fileUpload {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}
.fileUpload input[type="file"] {
	display: none;
}
.fileUploadCustom img {
	width: 20px;
	height: 20px;
}

.name {
	font-size: 31px;
	text-align: center;
}

.info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
}

.status {
	position: absolute;
	left: 30px;
	bottom: 35%;
	color: #ffffff;
}

.jobStatus {
	display: flex;
	align-items: center;
}
.jobStatus img {
	width: 35px;
	height: 35px;
	margin-left: 10px;
}

.editBtn {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.editBtn img {
	width: 100%;
}

.editForm {
	padding: 20px;
}

.formControl {
	display: flex;
	margin: 5px 0;
}